.slide1{
    margin-left: 20px;
    color:white;
    margin-top: 20px;
    width: 100%;
    overflow-x:scroll ;
  
    
}
.slide-items{
    display: flex;
   
}
.head10{
    color: white;
    margin-top: 20px;
    margin-left: -1080px;
    font-size: x-large;
}
.slidescroll2{
    display: flex;
    transition: 1s;
    padding: 10px;
    width: auto;
    /* overflow-x: scroll; */
   
}
.slidescroll2:hover{
transform: scale(1.3);
z-index: 2;
}
.slide1::-webkit-scrollbar{
    /* display: none; */
}
.slides{
    max-height: 280px;
    margin-right: 10px;
}